In [1]:
categories = {
      "gestion_de_compte": {
          "ouverture_compte_courant": "",
          "tenue_compte_courant": "",
          "ouverture_compte_cheque": "",
          "tenue_compte_cheque": "",
          "ouverture_compte_epargne": "",
          "tenue_compte_epargne": "",
          "ouverture_compte_devise": "",
          "tenue_compte_devise": "",
          "fermeture_de_compte": ""
      },

      "gestion_a_distance": {
          "e_banking_abonnement": "",
          "e_banking_consultation_solde": "",
          "e_banking_virement": "",
          "e_banking_paiment": "",
          "sms_banking_abonnement": "",
          "sms_banking_virement_en_agence": "",
          "sms_banking_virement_hors_agence": "",
          "service_contact": "",
      },

      "option_de_payment": {
          "versement_en_agence": "",
          "versement_hors_agence": "",
          "virement_en_agence": "",
          "virement_hors_agence": "",
          "prelevement_en_agence": "",
          "prelevement_hors_agence": "",
          "retraits_en_agence": "",
          "retraits_hors_agence": "",
          "payment_cheque_en_agence": "",
          "payment_cheque_hors_agence": "",
          "vente_devise": "",
          "achat_devise": ""
      },

      "moyens_de_payment": {
          "creation_bank_card": "",
          "renouvelement_bank_card": "",
          "remplacement_bank_card": "",
          "edition_code_confidentiel_bank_card": "",
          "retrait_intra_bancaire": "",
          "retrait_inter_bancaire": "",
          "creation_visa": "",
          "renouvelement_visa": "",
          "remplacement_visa": "",
          "edition_code_confidentiel_visa": "",
      },

      "prets_et_credits": {
          "decouvert_duree": "",
          "decouvert_taux": "",
          "credit_court_terme_taux": "",
          "credit_moyen_terme_taux": "",
          "credit_long_terme_taux": "",
          "options_possibles": ""
      },

      "placement": {
          "depots_a_court_terme": "",
          "depots_a_moyen_terme": "",
          "depots_a_long_terme": "",
      },

      "epargne": {
          "epargne_duree_taux_01": "",
          "epargne_duree_taux_02": "",
          "epargne_duree_taux_03": "",
          "epargne_duree_taux_04": "",
          "epargne_duree_taux_05": "",
          "epargne_duree_taux_06": "",
          "epargne_duree_taux_07": "",
          "epargne_duree_taux_08": "",
          "epargne_duree_taux_09": "",
          "epargne_duree_taux_10": "",
      },

      "coffre_fort": {
          "petit": "",
          "moyen": "",
          "grand": "",
          "cautionnement": ""
      },

      "financement_externe": {
          "encaissement_cheque_etranger": "",
          "virement_recu": "",
          "virement_emis": "",
          "exportation_domiciliation": "",
          "importation_domiciliation": "",
          "transfert_libre_prelevement_compte_dinars": "",
          "transfert_libre_prelevement_compte_devise": "",
      },
}

types = [
    "personnel",
    "professionnel",
    "entreprise"
]

In [7]:
template = {
    "category" : [],
    "prestation" : [],
    "type" : [],
    "value" : []
}

In [ ]:
template["category"] = []

for category in categories.keys():
  for i in range(len(categories[category].keys())*len(types)):
    template["category"].append(category)

template["category"]

In [ ]:
template["prestation"] = []

for category in categories.keys():
  for prestation in categories[category].keys():
    for j in range(len(types)):
      template["prestation"].append(prestation)

template["prestation"]

In [ ]:
template["type"] = []

for category in categories.keys():
  for prestation in categories[category].keys():
    for type in types:
      template["type"].append(type)

template["type"]

In [14]:
template["value"] = ["" for _ in template["category"]]

In [ ]:
template

In [16]:
import pandas as pd

In [21]:
templateDF = pd.DataFrame(template)

templateDF

,category,prestation,type,value
0,gestion_de_compte,ouverture_compte_courant,personnel,
1,gestion_de_compte,ouverture_compte_courant,professionnel,
2,gestion_de_compte,ouverture_compte_courant,entreprise,
3,gestion_de_compte,tenue_compte_courant,personnel,
4,gestion_de_compte,tenue_compte_courant,professionnel,
...,...,...,...,...
202,financement_externe,transfert_libre_prelevement_compte_dinars,professionnel,
203,financement_externe,transfert_libre_prelevement_compte_dinars,entreprise,
204,financement_externe,transfert_libre_prelevement_compte_devise,personnel,
205,financement_externe,transfert_libre_prelevement_compte_devise,professionnel,
206,financement_externe,transfert_libre_prelevement_compte_devise,entreprise,

In [22]:
templateDF.to_csv('/content/prestation_admin_template.csv', index=False)

In [26]:
templateDF.groupby(by='category')

                                           prestation           type value
category
coffre_fort                                     petit  professionnel
epargne                         epargne_duree_taux_10  professionnel
financement_externe                     virement_recu  professionnel
gestion_a_distance   sms_banking_virement_hors_agence  professionnel
gestion_de_compte                tenue_compte_epargne  professionnel
moyens_de_payment              retrait_intra_bancaire  professionnel
option_de_payment                virement_hors_agence  professionnel
placement                        depots_a_moyen_terme  professionnel
prets_et_credits                    options_possibles  professionnel

In [27]:
newDF = pd.read_csv('/content/prestation_admin_template_new.csv')

In [28]:
newDF

,category,prestation,type,value
0,gestion_de_compte,ouverture_compte_courant,personnel,NaN
1,NaN,NaN,professionnel,NaN
2,NaN,NaN,entreprise,NaN
3,NaN,tenue_compte_courant,personnel,NaN
4,NaN,NaN,professionnel,NaN
...,...,...,...,...
202,NaN,NaN,professionnel,NaN
203,NaN,NaN,entreprise,NaN
204,NaN,transfert_libre_prelevement_compte_devise,personnel,NaN
205,NaN,NaN,professionnel,NaN
206,NaN,NaN,entreprise,NaN

In [31]:
import random
import string

In [30]:
num = newDF.shape[0]

In [ ]:
newValue = []

for _ in range(num):
  newValue.append(''.join(random.choices(string.ascii_lowercase + string.digits, k=8)))

newValue

In [33]:
newDF["value"] = newValue

In [34]:
newDF

,category,prestation,type,value
0,gestion_de_compte,ouverture_compte_courant,personnel,3qdi5xxk
1,NaN,NaN,professionnel,8zb1iti1
2,NaN,NaN,entreprise,0topwng2
3,NaN,tenue_compte_courant,personnel,y33vnxyu
4,NaN,NaN,professionnel,tqqgxit9
...,...,...,...,...
202,NaN,NaN,professionnel,drj5v77t
203,NaN,NaN,entreprise,khpgko2b
204,NaN,transfert_libre_prelevement_compte_devise,personnel,c5a9sy9r
205,NaN,NaN,professionnel,su8n0gzn
206,NaN,NaN,entreprise,jpkjii4r

In [36]:
newDF.to_csv('/content/prestation_admin_template_filled.csv', index=False)